:root {
   /* Colors */
   --primary: #137FEC;
   --secondary: #E0F2FE;
   --bg-main: #FFF;
   --bg-sub: #F8FAFC;
   --text-primary: #2e2e2e;
   --text-secondary: #4d4d4d;

   /* Spacing */
   --spacing-20: 20px;
   --spacing-40: 40px;
   --spacing-80: 80px;

   /* Card */
   --card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
   --card-shadow-hover: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
