/* 헤더 스타일 */
.navbar {
   transition: all 0.3s ease;
   align-items: start;
}

.navbar-toggler {
   padding: 0.5rem;
   font-size: 1.5rem;
   transition: transform 0.3s ease;
}

.navbar-toggler:focus {
   outline: none;
   box-shadow: none;
}

.navbar-collapse {
   transition: all 0.3s ease-in-out;
}

/* 반응형 스타일 */
@media (max-width: 991.98px) {
   .navbar-collapse.show {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid var(--border-color);
   }
}
@media (max-width: 991.98px) {
   .navbar .form-inline {
      width: 100% !important;
      margin: 1rem 0;
      order: 1;
   }

   .navbar-nav {
      width: 100%;
      margin-top: 0.5rem;
   }

   .nav-item {
      text-align: center;
      padding: 0.5rem 0;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
   }

   .nav-item:first-child {
      border-top: none;
   }

   .nav-link {
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease;
   }

   .nav-link:hover {
      background-color: var(--primary-light);
      border-radius: 0.25rem;
   }
}

/* 로고 스타일링 */
.navbar-brand {
   display: flex;
   align-items: start;
   gap: 0.5rem;
}

.navbar-brand h1 {
   margin: 0;
   font-size: 2rem;
   font-weight: bold;
}
