.login-textfield {
   padding: 10px 10px;
   border-radius: 5px;
   font-size: 1rem;
}

.link_btn_group {
   display: flex;
   justify-content: space-around;
}

.d-grid {
   margin-top: 20px;
}

.link_btn {
   display: flex;
   flex-direction: column;
   align-items: center; /* 가로 중앙 정렬 */
   text-decoration: none;
   color: inherit;
}

.link_btn svg {
   display: block; /* 블록으로 만들어 가운데 정렬 가능 */
   margin-bottom: 0.25rem; /* 아이콘과 텍스트 간 간격 */
}

.link_btn p {
   margin: 0; /* 기본 p 마진 제거 */
   text-align: center; /* 텍스트 중앙 정렬 */
   font-size: 0.875rem; /* 필요에 따라 조정 */
}
