.overlay {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.4);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1400;
}

.close-btn {
   border: none;
   background-color: inherit;
   position: relative;
   left: 40px;
}
.modal-title {
   color: black;
}
