.content_box {
   max-width: 980px;
}

.custom-btn {
   background-color: #f0f2f5;
   border: none;
   color: black;
}

.custom-btn:hover {
   background-color: #e4e6eb;
   color: black;
}

.responsive-settings {
   margin-top: 3rem;
   max-width: 250px;
   width: 100%;
}

/* 600px 이하에서는 아예 안 보이게 */
@media (max-width: 600px) {
   .responsive-settings {
      display: none;
   }
}
