/* 배너 슬라이더 스타일 */
.slick-slider {
   margin-bottom: 0;
}

.slick-slide img {
   width: 100%;
   height: auto;
   border-radius: 8px;
}

.slick-dots {
   bottom: -30px;
}

.slick-dots li button:before {
   color: var(--primary);
}
